<%- include('../includes/head.ejs') %>
 <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/staff.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container text-center">
            <h4 class="row justify-content-center">THÔNG TIN DƯƠNG TÍNH COVID</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ngày phát hiện</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (covids.length > 0) { %>
                        <% for (let covid of covids) { %>
                            <tr>
                                <td><%= moment(covid.dateCovid).format('DD/MM/YYYY') %></td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr>
                            <td colspan="2">Chưa dương tính Covid</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </main>

<%- include('../includes/end.ejs') %>